<ion-content [fullscreen]="true" class="page-content">
  <!-- FONDO -->
  <div class="bg"></div>
  <!-- PAGINA -->
  <ion-grid>
    <!-- BOTON USUARIO -->
    <ion-row>
      <ion-col class="flex justify-end items-end">
        <button
        fill="clear"
        class="w-[38px] h-[38px]"
        (click)="goToPerfil()"
        >
        <img
        src="../../../assets/icon/icono-usuario.png"
        alt="Perfil"
        class="w-full h-full"
        />
      </button>
      </ion-col>
    </ion-row>
    <!-- TITULO -->
    <ion-row class="titulo mt-16">
      <ion-col>
        <h1 class="titulo">Hola, Usuario<br>tus Listas</h1>
      </ion-col>
    </ion-row>
    <!-- BOTON AÑADIR -->
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
    <!-- LISTAS -->
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
