// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* Tailwind SCSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
  --ion-color-primary: #ffc70e;
  --ion-color-secondary: #feebb3;
  --ion-color-tertiary: #ffffff;
  --color-focuslist-text: #656565;
  --color-focuslist-strong: #f0a702;
}
