.page-content {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden; /* Oculta el exceso de .bg */
}

/* Ocultar .bg por defecto (pantallas grandes) */
.bg {
  display: none;
}

/* Sólo para pantallas ≤ 540px */
@media (max-width: 540px) {
  .bg {
    display: block;
    position: absolute;
    width: 200vw;
    height: 200vw;
    top: -120vw;
    left: -50vw;
    background-color: var(--ion-color-secondary);
    border-radius: 50%;
  }
}

.titulo {
  color: var(--color-focuslist-text);
  font-size: 2.8rem;
}

ion-col {
  text-align: center;
}
