<ion-content [fullscreen]="true" class="page-content">
  <!-- FONDO -->
  <div class="bg"></div>
  <!-- PAGINA -->
  <ion-grid [fixed]="true">
    <!-- TITULO -->
    <ion-row class="titulo mt-16">
      <ion-col>
        <h1 class="titulo">Iniciar sesión</h1>
      </ion-col>
    </ion-row>
    <!-- FORMULARIO INICIO SESIÓN -->
    <ion-row class="mt-14 p-5">
      <ion-col>
        <form action="POST" (ngSubmit)="onLogin()" #loginForm="ngForm">
          <ion-input
            placeholder="Nombre de usuario o email"
            required
            [(ngModel)]="username"
            class="custom"
            name="username"
          ></ion-input>
          <br>
          <ion-input
            placeholder="Contraseña"
            class="custom"
            type="password"
            required
            [(ngModel)]="password"
            name="password"
          ></ion-input>
          <ion-button class="mt-4"
          type="submit"
          [disabled]="loginForm.invalid"
          >Iniciar sesión</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <!-- ENLACE CONTRASEÑA OLVIDADA -->
    <ion-row class="mt-16">
      <ion-col>
        <a class="txt">¿Olvidate tu<br> contraseña?</a>
      </ion-col>
    </ion-row>
    <!-- REGISTRO -->
    <ion-row class="mt-24">
      <ion-col>
        <label class="txt" style="font-size: 20px;">¿No tienes cuenta?</label><br>
        <ion-button (click)="onRegistro()">Registarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
