<ion-content [fullscreen]="true" class="page-content">
  <!-- FONDO -->
  <div class="bg"></div>
  <!-- PAGINA -->
  <ion-grid [fixed]="true">
    <!-- TITULO -->
    <ion-row class="titulo mt-16">
      <ion-col>
        <h1>Iniciar sesión</h1>
      </ion-col>
    </ion-row>
    <!-- FORMULARIO INICIO SESIÓN -->
    <ion-row class="mt-10 p-5">
      <ion-col>
        <form action="POST">
            <ion-input
              aria-label="Usuario"
              placeholder="Nombre de usuario o email"
              class="custom"
            ></ion-input>
          <br>
          <ion-input
              aria-label="Contraseña"
              placeholder="Contraseña"
              class="custom"
              type="password"
            ></ion-input>
            <ion-input
              aria-label="TEST"
              placeholder="TEST"
              class="test"
            ></ion-input>
            <input type="text" name="test" placeholder="test">
          <ion-button>Iniciar sesión</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <!-- ENLACE CONTRASEÑA OLVIDADA -->
    <ion-row class="mt-16">
      <ion-col>
        <a id="linkPwd">¿Olvidate tu<br> contraseña?</a>
      </ion-col>
    </ion-row>
    <!-- REGISTRO -->
    <ion-row class="mt-24">
      <ion-col>
        <label>¿No tienes cuenta?</label><br>
        <ion-button>Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
